body {
  font-family: Arial, Helvetica, Sans-serif;
  color: rgb(252, 228, 14);
  background-color: rgb(66, 63, 221);
  font-size: 13px;
}

h1 {
  text-align: center;
}
#papa {
  text-align: left;
}
#Pan {
  text-align: left;
}
#Aceite {
  text-align: left;
}

ol{
  font-style: italic;
}

ul{
  font-style: oblique;
}
span{
  font-size: 25px
  
}