body {
  font-family: Arial, Helvetica, Sans-serif;
  color: rgb(252, 69, 14);
  background-color: rgb(63, 221, 142);
  font-size: 13px;
}

h1 {
  text-align: center;
}
#papa {
  text-align: center;
}
#Pan {
  text-align: center;
}
#Aceite {
  text-align: center;
}
