body {
  font-family: Arial, Helvetica, Sans-serif;
  color: rgb(252, 177, 14);
  background-color: rgb(77, 104, 194);
  font-size: 13px;
}
div {
  background-color: whitesmoke;
  border: 2px solid;
}
img {
  max-width: 440px;
  height: auto;
  width: auto;
}

p {
  font-size: 15px;
}

h1 {
  text-align: center;
}
#papa {
  text-align: left;
}
#Pan {
  text-align: left;
}
#Aceite {
  text-align: left;
}

ol {
  font-style: italic;
}

ul {
  font-style: oblique;
}
span {
  font-size: 25px;
}
.cursivaNegrita {
  font-weight: bold;
  color: red;
}
h2 {
  border: 1px solid rgb(68, 58, 58);
}
.banner {
  margin: auto;
  width: 100%;
  height: 100%;
}
